.slds-card {
    border-radius: 1rem; 
    overflow: hidden;
}

/* Main Header Container */
.header-container {
    position: relative;    
    background-position: right bottom, left bottom;
    background-repeat: no-repeat, repeat-x;
    background-size: auto 100%, auto 100%;
    height: 90px;
}

/* Header Text */
.header-content {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    z-index: 1; 
}

.header-title {
    font-family: 'Salesforce Sans', Arial, sans-serif;
    font-weight: 250;
    font-size: 1.5rem;
    color: #747474; 
}

/* Score and Text Colors */
.score-red { color: #c23934; }
.score-yellow { color: #ffb75d; }
.score-green { color: #027e46; }
.text-red { color: #c23934; }
.text-green { color: #027e46; }

.score-icon {
    font-weight: bold;
    display: inline-block;
    width: 20px;
    text-align: center;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #dddbda;
}